@page
@model BankApp.Pages.AsCustomerPages.OverviewModel
@using BankLib.Model
@{
    ViewData["Title"] = "Overblik";

    var transforsuccess = TempData["transforsuccess"] as bool? ?? false;
    Employee? employee = null;
    Customer? customer = null;
    object? user = null;
    try
    {
        user = SessionHelper.Get<object>(user, HttpContext);
        if (user is not null)
        {
            if (user.ToString().Contains("AccessLevel"))
            {
                employee = SessionHelper.Get<Employee>(employee, HttpContext);
            }
            else
            {
                customer = SessionHelper.Get<Customer>(customer, HttpContext);
            }
        }
    }
    catch
    {

    }
    @if (employee is not null)
    {

        ViewData["SidebarVisible"] = true;

    }
    else if (customer is not null)
    {
        ViewData["SidebarVisibleCustomer"] = true;
    }

    bool isEditMode = Model.IsEditMode;
    bool isDeleteAble = Model.IsDeleteable;
    bool isDeletedConfirmation = Model.IsDeletedConfirmation;
    bool isCustomerAgent = Model.IsCustomerAgent;
    bool isEditTriggered = Model.IsEditTriggered;
    bool isCreatedConfirmation = Model.IsCreatedConfirmation;
    bool canSetPassWord = Model.CanSetPassword;
    bool isUpdatedConfirmation = Model.IsUpdatedConfirmation;
    bool seeTransactions = Model.SeeTransactions;
    bool seeGraph = Model.SeeGraph;
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
}
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <link rel="stylesheet" href="~/lib/Chart.js/dist/Chart.min.css" />
    <link rel="stylesheet" href="~/css/CustomerStyle.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid mt-3">
        @if (employee is not null)
        {
            <h1>@employee.FirstName Konti</h1>
        }
        else
        {
            <h1>Konti</h1>
        }
        @if (transforsuccess)
        {
            <div class="alert-success">
                <h5>
                    Overførslen var succesfuld
                </h5>
            </div>
        }
        @if (isDeletedConfirmation)
        {
            <div class="alert-success">
                <h3>
                    Medarbejderen: <span style="font-weight:bold"> @Model.ShowCustomer.FirstName @Model.ShowCustomer.LastName </span> er nu slettet fra systemet
                </h3>
            </div>
        }
        @if (isCreatedConfirmation)
        {
            <div class="alert-success">
                <h3>
                    Medarbejderen: <span style="font-weight:bold"> @Model.ShowCustomer.FirstName @Model.ShowCustomer.LastName </span> er nu oprettet i systemet
                </h3>
            </div>
        }
        @if (isUpdatedConfirmation)
        {
            <div class="alert-success">
                <h3>
                    Medarbejderen: <span style="font-weight:bold"> @Model.ShowCustomer.FirstName @Model.ShowCustomer.LastName </span> er nu opdateret i systemet
                </h3>
            </div>
        }
        <div class="rounded-lg pt-3 pr-3 pl-3 bg-white">
            <div class="row custom-row">
                <div class="col custom-col">

                    <form method="post">
                        <input class="form-control mb-3" type="text" asp-for="@Model.Search" placeholder="Søg efter konti..." />
                        <input type="submit" asp-page-handler="SearchAccounts" class="btn btn-primary visually-hidden" value="søg" />
                    </form>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Konto ID</th>
                                <th>Konto navn</th>
                                <th>Konto type</th>
                                <th>Saldo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Account a in Model.Accounts)
                            {
                                <tr class="clickable-row" id="customerRow">
                                    <form method="post" asp-page-handler="SeeTransactionsForAccount" asp-route-accountId="@a.AccountId" id="@a.AccountId">
                                    <td>
                                            @a.AccountId
                                    </td>
                                    <td>
                                            @a.Name
                                    </td>
                                    <td>
                                            @a.Type
                                    </td>
                                    <td>
                                            @a.Balance
                                    </td>
                                    </form>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <script>
                        $(".clickable-row").click(function () {
                            var clickedRow = $(this); // Get the clicked row element
                            var formToSubmit = clickedRow.find("form"); // Find the form within the row
                            formToSubmit.submit(); // Submit the found form
                        });
                    </script>
                </div>
                @if (seeTransactions)
                {
                    <div class="col-md-6 custom-col">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Dato</th>
                                    <th>Beskrivelse</th>
                                    <th>Beløb</th>
                                    <th>Saldo</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Transaction t in Model.Transactions)
                                {
                                    <tr class="clickable-row" id="customerRow">
                                        <form method="post" asp-page-handler="TransactionsGraph" asp-route-accountId="@t.AccountId" id="@t.AccountId">
                                        <td>
                                                @t.Date
                                        </td>
                                        <td>
                                                @t.Description
                                        </td>
                                        <td>
                                                @if (t.Type.ToLower() == "fra")
                                                {
                                                <p style="color:red; font:bolder">- @t.Amount</p>
                                                }
                                                else if (t.Type.ToLower() == "til")
                                                {
                                                <p style="color:green; font:bolder">+ @t.Amount</p>
                                                }
                                        </td>
                                        <td>
                                                @t.Current_Balance
                                        </td>
                                        </form>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <script>
                            $(".clickable-row").click(function () {
                                var clickedRow = $(this); // Get the clicked row element
                                var formToSubmit = clickedRow.find("form"); // Find the form within the row
                                formToSubmit.submit(); // Submit the found form
                            });
                        </script>
                    </div>
                }
                else if (!seeTransactions && seeGraph)
                {
                    <div class="col-md-6 custom-col">
                        <canvas id="transactionchart">
                        </canvas>
                        <script>
                            var transactionDates = @Html.Raw(Json.Serialize(Model.FormattedDates));
                            var transactionBalance = @Html.Raw(Json.Serialize(Model.TransactionBalance));

                            var chartData = {
                                labels: transactionDates,
                                datasets: [{
                                    label: 'Account Amount',
                                    data: transactionBalance,
                                    borderColor: 'black',
                                }]
                            };
                            var ctx = document.getElementById('transactionchart').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'line',
                                data: chartData,
                                // Additional options for customization
                            });
                        </script>
                        <div class="row">
                            <div class="col-md-12">
                                <form method="post">
                                    <button style="width:-webkit-fill-available" class="btn btn-primary" type="submit" asp-page-handler="SeeTransactionsForAccount" asp-route-accountId="@Model.Transactions.FirstOrDefault(i => i.AccountId == i.AccountId).AccountId">Tilbage</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
                @* <div class="col-md-6 custom-col">
                <form method="post">
                <h4>Konto oplysninger:</h4>
                <div class="row">
                <div class="col-md-6">
                <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="@Model.Choosen_FirstName" asp-for="Choosen_FirstName" minlength="2" maxlength="30" required readonly="@(isEditMode ? false : true)" />
                <label asp-for="Choosen_FirstName" for="floatingInput">Fornavn</label>
                </div>
                <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="@Model.Choosen_LastName" asp-for="Choosen_LastName" minlength="1" maxlength="30" required readonly="@(isEditMode ? false : true)" />
                <label asp-for="Choosen_LastName" for="floatingInput">Efternavn</label>
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="@Model.AccountID" asp-for="AccountID" required readonly />
                <label asp-for="AccountID" for="floatingInput">Konto Id</label>
                </div>
                <div class="form-floating mt-3">
                <input type="text" class="form-control" id="floatingInput" value="@Model.Choosen_AccountName" asp-for="Choosen_AccountName" minlength="1" maxlength="50" required readonly="@(isEditMode ? false : true)" />
                <label asp-for="Choosen_AccountName" for="floatingInput">Konto navn</label>
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-floating mt-3">
                <input type="text" class="form-control" id="floatingInput" value="@Model.Choosen_AccountType" asp-for="Choosen_AccountType" minlength="1" maxlength="50" required readonly="@(isEditMode ? false : true)" />
                <label asp-for="Choosen_AccountType" for="floatingInput">Konto type</label>
                </div>
                </div>
                </div>
                @if (isEditMode)
                {
                @if (isEditTriggered)
                {
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModalUpdate-@Model.CustomerID" data-employee-id="@Model.CustomerID">Gem ændringer</button>
                <!-- PartielView to trigger the EmployeeUpdate modal-->
                @* <partial name="PartialView/ModalEmployeeUpdate" /> *@
                @*      }
                }
                else if (isDeleteAble)
                {
                <button type="submit" asp-page-handler="EnableEdit" asp-route-accountId="@Model.AccountID" class="btn btn-outline-warning">Ret</button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal-@Model.CustomerID" data-employee-id="@Model.CustomerID">X</button>
                }
                @if (!isEditMode)
                {
                <button type="submit" asp-page-handler="ActivateCreateCustomer" class="btn btn-success">Opret Kunde</button>
                }
                else
                {
                <button type="submit" asp-page-handler="CreateCustomer" class="btn btn-success">Opret Kunde</button>
                } *@
                <!-- PartielView to trigger the EmployeeDelete modal-->
                @*  <partial name="PartialView/ModalEmployeeDelete" /> *@
                @*
                </form>
                </div> *@
            </div>
        </div>
    </div>
</body>
</html>
