@page
@model BankApp.Pages.AsCustomerPages.TransferOwnAccountsModel
@using BankLib.Model
@{
    ViewData["Title"] = "Overfør mellem Konti";

    Employee? employee = null;
    Customer? customer = null;
    object? user = null;
    try
    {
        user = SessionHelper.Get<object>(user, HttpContext);
        if (user is not null)
        {
            if (user.ToString().Contains("AccessLevel"))
            {
                employee = SessionHelper.Get<Employee>(employee, HttpContext);
            }
            else
            {
                customer = SessionHelper.Get<Customer>(customer, HttpContext);
            }
        }
    }
    catch
    {

    }
    @if (employee is not null)
    {

        ViewData["SidebarVisible"] = true;

    }
    else if (customer is not null)
    {
        ViewData["SidebarVisibleCustomer"] = true;
    }

    bool ischosenFrom = Model.IsChosenFrom;
    bool ischosenTo = Model.IsChosenTo;
    Account? accountChosenFrom = Model.Account_ChosenFrom;
    Account? accountChosenTo = Model.Account_ChosenTo;
    List<Account> accounts = Model.Accounts;
    int depositAmount = Model.DepositAmount;
    string description = Model.Customer_Description;

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
}
<html>
<head>
    <link rel="stylesheet" href="~/css/TransferAccountsStyle.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid mt-3">
        <a id="Headline" href="/AsCustomerPages/TransferOwnAccounts">
            <h1>Overfør mellem konti</h1>
        </a>
        <div class="rounded-lg pt-3 pr-3 pl-3 bg-white">
            <div class="row custom-row">
                <div class="col custom-col">
                    <div class="container d-flex justify-content-center mb-5 mt-5">
                        <div id="cardtransfer" class="card shadow w-25">
                            <h2 class="card-title text-center mt-2">Overførsel</h2>
                            <div class="card-body">
                                <div class="col form-floating mb-3">
                                    <h3>Fra</h3>
                                    <form method="post">
                                        <i class="col padding-right">
                                            <div class="dropdown">
                                                <button id="accountdropdownbtn" class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="fraDropdownButton">
                                                    @if (!ischosenFrom)
                                                    {
                                                        <table>
                                                            <tbody>
                                                            <td>
                                                                Vælg Konto at overføre fra
                                                            </td>
                                                            </tbody>
                                                        </table>
                                                    }
                                                    else
                                                    {
                                                        <table>
                                                            <tbody>
                                                                <tr>
                                                                    <td style="font:bolder">
                                                                        @accountChosenFrom.Name
                                                                    </td>
                                                                    <td>
                                                                        @accountChosenFrom.Balance kr.
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    }
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="fraDropdownButton">

                                                    @foreach (Account accountFrom in accounts)
                                                    {
                                                        <form method="post">
                                                            @if (customer is not null)
                                                            {
                                                                <button id="accountdropdownbtn" type="submit" class="dropdown-item btn btn-outline-primary" asp-route-accountidFrom="@accountFrom.AccountId" asp-route-MainidFrom="@accountFrom.MainAccountId" asp-page-handler="ChoosenAccountFrom">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="font:bolder">
                                                                                    @accountFrom.Name
                                                                                </td>
                                                                                <td>
                                                                                    @accountFrom.Balance kr.
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </button>
                                                            }
                                                            else if (employee is not null)
                                                            {
                                                                <button id="accountdropdownbtn" type="submit" class="dropdown-item btn btn-outline-primary" asp-route-accountidFrom="@accountFrom.AccountId" asp-route-MainidFrom="@accountFrom.MainAccountId" asp-page-handler="ChoosenAccountFrom">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="font:bolder">
                                                                                    @accountFrom.Name
                                                                                </td>
                                                                                <td>
                                                                                    @accountFrom.Balance kr.
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </button>
                                                            }
                                                        </form>
                                                    }
                                                </div>
                                            </div>
                                        </i>
                                    </form>
                                </div>
                                <div class="col form-floating mb-3">
                                    <h3>Til</h3>
                                    <form method="post">
                                        <i class="col padding-right">
                                            <div class="dropdown">
                                                <button id="accountdropdownbtn" class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    @if (!ischosenTo)
                                                    {
                                                        <table>
                                                            <tbody>
                                                            <td>
                                                                Vælg Konto at overføre til
                                                            </td>
                                                            </tbody>
                                                        </table>
                                                    }
                                                    else
                                                    {
                                                        <table>
                                                            <tbody>
                                                                <tr>
                                                                    <td style="font:bolder">
                                                                        @accountChosenTo.Name
                                                                    </td>
                                                                    <td>
                                                                        @accountChosenTo.Balance kr.
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    }
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="tilDropdownButton">
                                                    @foreach (Account accountTo in accounts)
                                                    {
                                                        <form method="post">
                                                            @if (customer is not null)
                                                            {
                                                                @if(accountChosenFrom == accountTo)
                                                                {
                                                                    <button id="accountdropdownbtn" type="submit" class="dropdown-item btn btn-outline-primary" asp-route-accountidTo="@accountTo.AccountId" asp-route-MainidTo="@accountTo.MainAccountId" asp-page-handler="ChoosenAccountTo" disabled>
                                                                        <table>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="font:bolder">
                                                                                        @accountTo.Name
                                                                                    </td>
                                                                                    <td>
                                                                                        @accountTo.Balance kr.
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                <button id="accountdropdownbtn" type="submit" class="dropdown-item btn btn-outline-primary" asp-route-accountidTo="@accountTo.AccountId" asp-route-MainidTo="@accountTo.MainAccountId" asp-page-handler="ChoosenAccountTo">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="font:bolder">
                                                                                    @accountTo.Name
                                                                                </td>
                                                                                <td>
                                                                                    @accountTo.Balance kr.
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </button>   
                                                                }
                                                            }
                                                            else if (employee is not null)
                                                            {
                                                                <button type="submit" class="dropdown-item btn btn-outline-primary" asp-route-accountidTo="@accountTo.AccountId" asp-route-MainidTo="@accountTo.MainAccountId" asp-page-handler="ChoosenAccountTo">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="font:bolder">
                                                                                    @accountTo.Name
                                                                                </td>
                                                                                <td>
                                                                                    @accountTo.Balance kr.
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </button>
                                                            }
                                                        </form>
                                                    }
                                                </div>
                                            </div>
                                        </i>
                                    </form>
                                </div>
                                <form method="post">
                                    <div class="row">
                                            <div class="form-floating mb-3">
                                                <input class="form-control" type="number" min="0" required asp-for="@depositAmount"><br />
                                            <label style="color:black!important" asp-for="@depositAmount" for="floatingInput">Indsæt beløb</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" type="text" min-length="1" required asp-for="@Model.Customer_Description"><br />
                                            <label style="color:black!important" asp-for="@Model.Customer_Description" for="floatingInput">Beskrivelse</label>
                                            </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6" style="padding:0">
                                            <button id="confirmcancelbtn" asp-page-handler="Transfer" class="btn btn-success">Bekræft</button>
                                        </div>
                                        <div class="col-md-6" style="padding:0">
                                            <a id="confirmcancelbtn" href="/AsCustomerPages/Overview" class="btn btn-danger">Fortryd</a>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>